<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>LaboratorJava2</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>UpdateUser</servlet-name>
		<servlet-class>com.pentalog.nguzun.servlets.user.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/user/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetUser</servlet-name>
		<servlet-class>com.pentalog.nguzun.servlets.user.GetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUser</servlet-name>
		<url-pattern>/user/get</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>com.pentalog.nguzun.servlets.user.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/user/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExportUser</servlet-name>
		<servlet-class>com.pentalog.nguzun.servlets.user.ExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportUser</servlet-name>
		<url-pattern>/user/export</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ImportUser</servlet-name>
		<servlet-class>com.pentalog.nguzun.servlets.user.ImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImportUser</servlet-name>
		<url-pattern>/user/import</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateGroup</servlet-name>
		<servlet-class>com.pentalog.nguzun.servlets.group.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateGroup</servlet-name>
		<url-pattern>/group/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetGroup</servlet-name>
		<servlet-class>com.pentalog.nguzun.servlets.group.GetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetGroup</servlet-name>
		<url-pattern>/group/get</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteGroup</servlet-name>
		<servlet-class>com.pentalog.nguzun.servlets.group.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteGroup</servlet-name>
		<url-pattern>/group/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExportGroup</servlet-name>
		<servlet-class>com.pentalog.nguzun.servlets.group.ExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportGroup</servlet-name>
		<url-pattern>/group/export</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ImportGroup</servlet-name>
		<servlet-class>com.pentalog.nguzun.servlets.group.ImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImportGroup</servlet-name>
		<url-pattern>/group/import</url-pattern>
	</servlet-mapping>
</web-app>